.app-content {
  width: 100%;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.app-title {
  font-size: 35px;
}

.app-export {
  background-color: #0e0e0e;
  cursor: pointer;
  user-select: none;
  outline: 0;
  font-size: 15px;
  border-style: none;
  padding: 16px;
  margin: 10px;
  height: 50px;
}

.app-export:hover {
  background-color: #1a1a1a;
}

.app-export.twitter {
  color: #38a1f3;
  box-shadow: #38a1f3 0px 0px 0px 1px inset;
}

.app-export.export {
  color: #c198fb;
  box-shadow: #c198fb 0px 0px 0px 1px inset;
}

.app-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.app-link {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    background: linear-gradient( to right, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100% );
    background-size: 1px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

.app-link:hover {
    color: #c198fb;
}
